<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <P>2017-1 HYU OpenSource Project - Memo Web Application</p>
   </div>
  </div>
 </body>
</html>
